.button {
  height: 100px;
  width: auto;
}
.bpm{
  background-color: #c8f4cf;
  width: 95%;
  right: 0;
  position: absolute;
}
.cpm {
  background-color: #fdcbcd;
  padding: 0 0 15px;
}
.normal{
  display: inline;
  margin-bottom: 10px;
}
.hover{
  display: none;
  margin-bottom: 10px;
}
.crm {
  vertical-align: middle;
  background-color: #c0edfc;
  width: 95%;
  right: 0;
  height: 250px;
  margin-top: 50px;
  bottom: 0;
  position: absolute;
}

.ui-tooltip-content img{
  position: absolute;
  width: 750px !important;
  height: auto;
}
h1 {
  margin-bottom: 50px
}

.dropdown-toggle {
  border: none;
  background-color: inherit;;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
