.button {
  height: 100px;
  width: auto;
}
.bpm{
  background-color: #c8f4cf;
  background-image: url('../images/Screen Shot 2016-09-16 at 12.41.20 AM.png');
  background-size: cover;
  width: 700px;
  right: -50px;
  padding-bottom: 50px;
  position: absolute;
}
.img-arrow {
  position: absolute;
  z-index: 20;
  left: 700px;
  top: 398px;
  width: 13px;
}
.arrow-side {
  position: absolute;
  z-index: 20;
  left: 338px;
  top: 210px;
  width: 22px;
}
.arrow-side2 {
  position: absolute;
  z-index: 20;
  left: 338px;
  top: 530px;
  width: 22px;
}
.container-fluid {
  width: 1000px!important;
  position: relative;
  top: 50%;
  left: -50px;
  text-align: center;
  right:0;
  margin: 0 auto;
  transform: translateY(-50%)
}
img {
  width: 140px
}
.cpm {
  background-color: #fdcbcd;
  padding: 0 0 15px;
}
.normal{
  display: inline;
  margin-bottom: 10px;
}
.hover{
  display: none;
  margin-bottom: 10px;
}
.crm {
  vertical-align: middle;
  background-color: #c0edfc;
  width: 700px;
  right: -50px;
  height: 180px;
  margin-top: 50px;
  bottom: 0;
  position: absolute;
}

.ui-tooltip-content img{
  position: absolute;
  width: 650px !important;
  height: auto;
}
h1 {
  margin-bottom: 20px
}

.dropdown-toggle {
  border: none;
  background-color: inherit;
}

.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown .dropdown-submenu, .menu-item{
  border: solid 1px black;
}
li{
  border: solid 1px black;
}

.dropdown-submenu:hover>.dropdown-menu {
  display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
#c1,#c2,#c3,#c4,#c5 {
  margin: 3px 0;
}
#c5 img{
  width: 150px!important;
}
#c4 img{
  width: 150px!important;
}
#c3 img{
  width: 150px!important;
}
#c2 img{
  width: 150px!important;
}
#r1 img{
  width: 150px!important;
}
#r2 img{
  width: 150px!important;
}
#r3 img{
  width: 150px!important;
}
#r4 img{
  width: 150px!important;
}
.col-xs-3, .col-xs-6 {
  padding: 0!important;
}
